h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.265rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;

}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;

}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

a {
  color: #11999E;
}
hr {
  margin: 60px auto;
  width: 70px;
  border-top: 8px dotted;
  color: #d5dbdb;

}
.skill-image1 {
  border-radius: 50%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skill-image2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}
.intro-text {
  color: #40514E;
  width: 40%;
  margin: 50px auto;
  line-height: 2;
}

.topdiv {
  background-color: #e4f9f5;
  margin: 0;
  position: relative;
  padding-top: 100px;
}

.middle-container {

}

.bottom-container {
  height: 200px;
  background-color: #66BFBF;
  text-align: center;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}
.profile-pic {
  border-radius: 50%;
  margin-top: 50px;
}
.footer-link {
  display: inline-block;
  margin: 60px 20px;
  color: #11999E;
  text-decoration: none;
}

.copyright {
  color: #eaf6f6;
}

.myButton {
  margin: 30px auto 70px auto;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:23px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.myButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}
